<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <th:block th:insert="~{/reusable/admin_panel_head :: admin_panel_links}"></th:block>

</head>
<body>

<nav th:replace="~{reusable/sidebar :: sidebar}"></nav>

</div>
<div class="main-content">
    <div th:replace="~{home :: greeting}"></div>
    <header class="dashboard-header">
        <span>Groups dashboard</span>

        <div th:replace="~{reusable/search-bar :: search-bar (${currentPage}, ${totalPages}, ${search}, ${sort}, ${pageSize},'/groups')}">

        </div>

    </header>
    <div class="list-wrapper">

        <span th:if="${totalElements == 0}"
              style="font-size: 30px;
                font-style: italic;
                text-align: center;
                ">No results found</span>

    </header>
    <div class="list-wrapper">
        <div class="list" th:if="${totalElements != 0}">
            <header>Groups list</header>
            <table>

                <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Speciality</th>
                    <th>Students</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="group : ${groups}">
                    <td th:text="${group.id}"/>
                    <td th:text="${group.name}"/>
                    <td th:text="${group.speciality.code + ' ' + group.speciality.name }"/>
                    <td th:text="${group.students.size()}"/>
                    <td sec:authorize="hasRole('ROLE_ADMIN')">
                        <i class="fa-regular fa-pen-to-square"></i>
                        <i class="fa-solid fa-trash"></i>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="pagination-wrapper" th:if="${totalElements != 0}">
            <div  th:replace="~{reusable/pagination :: pagination(${currentPage}, ${totalPages}, ${search}, ${sort}, ${pageSize}, '/groups')}">

            </div>
        </div>
    </div>
</div>
</body>
</html>