<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <th:block th:insert="~{/reusable/admin_panel_head :: admin_panel_links}"></th:block>

</head>
<body>

<nav th:replace="~{reusable/sidebar :: sidebar}"></nav>

</div>
<div class="main-content">
    <div th:replace="~{home :: greeting}"></div>
    <header class="dashboard-header">
        <span>Teachers dashboard</span>
        <div th:replace="~{reusable/search-bar :: search-bar (${currentPage}, ${totalPages}, ${search}, ${sort}, ${pageSize},'/teachers')}">

        </div>

    </header>
    <div class="list-wrapper" >

        <span th:if="${totalElements == 0}"
              style="font-size: 30px;
                font-style: italic;
                text-align: center;
                ">No results found</span>

        <div class="list" th:if="${totalElements != 0}">
            <header>Teachers list</header>
            <table>

                <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                    <th>DateOfBirth</th>
                    <th>Disciplines</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="teacher : ${teachers}">
                    <td th:text="${teacher.id}"/>
                    <td th:text="${teacher.user.firstName + ' ' + teacher.user.lastName}"/>
                    <td th:text="${teacher.user.email}"/>
                    <td th:text="${teacher.user.phoneNumber}"></td>
                    <td th:text="${teacher.user.dateOfBirth}"></td>
                    <td th:text="${teacher.disciplines.size()}"></td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="pagination-wrapper" th:if="${totalElements != 0}">
            <div  th:replace="~{reusable/pagination :: pagination(${currentPage}, ${totalPages}, ${search}, ${sort}, ${pageSize}, '/teachers')}">

            </div>
        </div>

    </div>
</div>
</body>
</html>