<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
  <th:block th:insert="~{/reusable/admin_panel_head :: admin_panel_links}"></th:block>

</head>
<body>

<nav th:replace="~{reusable/sidebar :: sidebar}"></nav>

</div>
<div class="main-content">
  <div th:replace="~{home :: greeting}"></div>
  <header class="dashboard-header">
    <span>Specialities dashboard</span>

    <div th:replace="~{reusable/admin-search-bar :: search-bar (${currentPage}, ${totalPages}, ${search}, ${sort}, ${pageSize},'/administrators/specialities' ,'/administrators/specialities/create-page')}">

    </div>

  </header>
  <div class="list-wrapper">

    <span th:if="${totalElements == 0}"
          style="font-size: 30px;
                font-style: italic;
                text-align: center;
                ">No results found</span>

    <div class="list" th:if="${totalElements != 0}">
      <header>Specialities list</header>
      <table>

        <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Code</th>
          <th>Description</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="speciality : ${specialities}">
          <td th:text="${speciality.id}"/>
          <td th:text="${speciality.name}"/>
          <td th:text="${speciality.code}"/>
          <td th:text="${speciality.description}"></td>
          <td>
            <i class="fa-regular fa-pen-to-square"></i>
            <i class="fa-solid fa-trash"></i>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="pagination-wrapper" th:if="${totalElements != 0}">
      <div th:replace="~{reusable/pagination :: pagination(${currentPage}, ${totalPages}, ${search}, ${sort}, ${pageSize}, '/administrators/specialities')}">
      </div>
    </div>

  </div>
</div>
</body>
</html>