<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{/reusable/admin_panel_head :: admin_panel_links}"></th:block>

</head>
<body>

<nav th:replace="~{reusable/sidebar :: sidebar}"></nav>

</div>
<div class="main-content">
    <div th:replace="~{home :: greeting}"></div>
    <header class="dashboard-header">
        <span>My group</span>


    </header>
    <div class="list-wrapper">
        <div class="entity-info-wrapper">
            <div class = "info-item">
                <span class = "info-item-header">Name: </span>
                <span th:text="${group.name}"></span>
            </div>
            <div class = "info-item">
                <span class = "info-item-header">Speciality:</span>
                <span th:text="${group.speciality.code + ' ' +  group.speciality.name} "></span>

            </div >
            <div class = "info-item">
                <span class = "info-item-header">Students count:</span>
                <span th:text="${group.students.size()}"></span>

            </div>
        </div>
        <div class="list" th:if="${totalElements != 0}">
            <header>Classmates list</header>
            <table>

                <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Date of birth</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="student : ${students}">
                    <td th:text="${student.id}"/>
                    <td th:text="${student.user.firstName + ' ' + student.user.lastName}"/>
                    <td th:text="${student.user.dateOfBirth}"></td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="pagination" th:if="${totalElements != 0}">
            <div>
                <a th:if="${currentPage > 0}" th:href="@{/student/my-group(pageNumber=${currentPage - 1})}">
                    <i class="fa-solid fa-arrow-left"></i>
                </a>
                <a th:unless="${currentPage > 0}">
                    <i class="fa-solid fa-arrow-left" style="color: #a1a1a1;"></i>
                </a>
            </div>

            <ul class="pagination" th:if="${totalPages <= 7}">
                <li th:each="i : ${#numbers.sequence(1, totalPages)}">

                    <a th:text="${i}" th:id="${i == currentPage + 1 ? 'selected-page-number' : ''}"
                       th:href="@{/student/my-group(pageNumber=${i - 1})}"></a>
                </li>
            </ul>
            <ul class="pagination" th:if="${totalPages > 7 and currentPage < 7}">
                <li th:each="i : ${#numbers.sequence(1, 7)}">

                    <a th:text="${i}" th:id="${i == currentPage + 1 ? 'selected-page-number' : ''}"
                       th:href="@{/student/my-group(pageNumber=${i - 1})}"></a>
                </li>
                <li>
                    <a th:text="..." th:href="@{/student/my-group(pageNumber=7)}" ></a>
                </li>
                <li>
                    <a th:text="${totalPages}" th:href="@{/student/my-group(pageNumber=${totalPages - 1})}" ></a>
                </li>
            </ul>
            <ul class="pagination" th:if="${totalPages > 7 and currentPage > 6 and totalPages - currentPage > 7 } ">
                <li>
                    <a th:text="1" th:href="@{/student/my-group(pageNumber=0)}"></a>
                </li>
                <li>
                    <a th:text="..." th:href="@{/student/my-group(pageNumber=${currentPage - 3})}" ></a>
                </li>
                <li th:each="i : ${#numbers.sequence(currentPage - 1, currentPage + 3)}">
                    <a th:text="${i}" th:id="${i == currentPage + 1 ? 'selected-page-number' : ''}"
                       th:href="@{/student/my-group(pageNumber=${i - 1})}"></a>
                </li>
                <li>
                    <a th:text="..." th:href="@{/student/my-group(pageNumber=${currentPage + 3})}"></a>
                </li>
                <li>
                    <a th:text="${totalPages}" th:href="@{/student/my-group(pageNumber=${totalPages - 1})}"></a>
                </li>
            </ul>
            <ul class = "pagination" th:if="${totalPages > 7 and currentPage > 6 and totalPages - currentPage <= 7}">
                <li>
                    <a th:text="1" th:href="@{/student/my-group(pageNumber=0)}"></a>
                </li>
                <li>
                    <a th:text="..." th:href="@{/student/my-group(pageNumber=${totalPages - 7})}" ></a>
                <li th:each="i : ${#numbers.sequence(totalPages - 6, totalPages)}">
                    <a th:text="${i}" th:id="${i == currentPage + 1 ? 'selected-page-number' : ''}"
                       th:href="@{/student/my-group(pageNumber=${i - 1})}"></a>
                </li>
                </li>
            </ul>
            <div>
                <a th:if="${currentPage < totalPages - 1}" th:href="@{/student/my-group(pageNumber=${currentPage + 1})}">
                    <i class="fa-solid fa-arrow-right"></i>
                </a>
                <a th:unless="${currentPage < totalPages - 1}">
                    <i class="fa-solid fa-arrow-right" style="color: #a1a1a1"></i>
                </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>